@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=League+Spartan:wght@400;600;700&family=Roboto&display=swap');

$font-main: 'Roboto', sans-serif;

$main-bg-color: rgba(112, 201, 112, 0.95);
$sub-bg-color: #ffffff;

$main-text-color: #333333;
$sub-text-color: #ffffff;

$main-border-color: #333333;
$sub-border-color: #ffffff;